EDITOR_UPSTREAM_URL=http://127.0.0.1:8081
EDITOR_UPSTREAM_API_KEY=local-dev-key
EDITOR_UPSTREAM_TIMEOUT_SECONDS=5
EDITOR_SAVE_ATTEMPTS=3
# DBngin's MySQL: user root, no password. Create the database once: CREATE DATABASE project_editor;
EDITOR_DATABASE_URL=mysql+aiomysql://root@127.0.0.1:3306/project_editor
EDITOR_LOCK_TIMEOUT_SECONDS=5
EDITOR_INSTANCE_ID=local-1
